
<link rel="stylesheet" 
href="{{url_for('static', filename = 'css/estilo.css')}}">

<form action="/registrar" method="post">
    <label for="">ISBN</label>
    <input type="text" name="isbn"> <br> <br>
    <label for="">TITULO</label>
    <input type="text" name="titulo"> <br> <br>
    <label for="">AUTOR</label>
    <input type="text" name="autor"> <br> <br>
    <label for="">Disponible</label>
    <input type="text" name="disponible"> <br> <br>
    <label for="">CATALOGO</label>
    <input type="number" name="catalogo"> <br> <br>
    <button type="submit">Guardar</button> <br> <br>
    
</form>


<h1>Listado de Libros</h1>

<table class = "tabla-libros">
    <thead>
        <tr>
            <th>ISBN</th>
            <th>Titulo</th>
            <th>AUTOR</th>
            <th>DISPONIBILIDAD</th>
            <th>CATALOGO</th>
        </tr>
    </thead>
    <tbody>
    {% for li in libros %}
        <tr>
            <td>{{ li.isbn }}</td>
            <td>{{ li.titulo }}</td>
            <td>{{ li.autor }}</td>
            <td>{{ li.disponible }}</td>
            <td>{{ li.id_catalogo }}</td>
        </tr>
    {% endfor %}
    </tbody>
</table>


